[submodule "firmware/libs/lib/Adafruit_MatrixPortal"]
	path = firmware/lib/adafruit_matrixportal
	url = https://github.com/adafruit/Adafruit_CircuitPython_MatrixPortal.git
[submodule "firmware/lib/Adafruit_CircuitPython_Bundle"]
	path = firmware/lib/Adafruit_CircuitPython_Bundle
	url = https://github.com/adafruit/Adafruit_CircuitPython_Bundle.git
